:root {
    --color-white: #fff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    color: var(--color-white);
}

h2,
h3,
h4 {
    margin-top: 10px;
}

p {
    line-height: 25px;
}

header {
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
}

main {
    padding: 2vh 5vw;
    box-shadow: var(--box-shadow);
    position: relative;
    transition: all 0.3s ease;
}

section {
    margin: 10px 0;
}

summary {
    color: rgb(0, 255, 255);
}

.code {
    background-color: var(--color-black);
    margin: 5px 0;
    padding: 20px;
}

.code .command {
    color: rgb(255, 169, 70);
    font-weight: bold;
}

.code .sc {
    color: rgb(255, 39, 39);
    font-weight: bold;
    float: right;
}

.code-show {
    background-color: var(--color-black);
    margin: 10px 0 0 30px;
    padding: 15px 20px;
    line-height: 15px;
}

.code-show .command {
    color: rgb(255, 169, 70);
    font-weight: normal;
}

.comment {
    color: rgb(60, 217, 60);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    line-height: 40px;
    background-color: rgb(30, 30, 30);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 100%;
}

img {}