:root{
    --color-white: #fff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

header {
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

main {
    padding: 2vh 5vw;
    box-shadow: var(--box-shadow);
    position: relative;
    transition: all 0.3s ease;
}

.text{
    color: white;
    padding: 10px 0;
}

.code{
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 10px 0;
    padding: 30px 20px;
}
    .code .command{
        color: rgb(255, 169, 70);
        font-weight: bold;
    }
    .code .comment{
        color: rgb(60, 217, 60);
    }
    .code .sc{
        color: rgb(255, 39, 39);
        font-weight: bold;
        float: right;
    }

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    line-height: 40px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 100%;
}