/* https://paletton.com/#uid=73J0u0kqaWV9U+sjiZqyxPm-npY */
/* https://paletton.com/#uid=73x0u0ksQMghyREnlODHmJMHqrW */

*{
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}
body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color:#6FB1E4;
}
#page{
    margin: 20px 10% 10px 10%;
    border: 0;
    padding: 0;
}

header{
    margin: 0;
    border: 0;
    padding: 10px 5%;
    background-color: white;
}
header img{
    border-radius: 100%;
    float: left;
}
header h1{
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

nav{
    margin: 0;
    border: 0;
    padding: 0 5%;
    background-color: #3333DC;
    color: white;
    overflow: hidden;
}
nav a{
    float: left;
    display: block;
    margin: 0;
    padding: 10px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #FFC519;
    color: #000;
}

.leftcolumn{
    margin: 0;
    border: 0;
    float: left;
    width: 70%;
}
.rightcolumn{
    padding-left: 20px;
    border: 0;
    float: left;
    width: 30%;
}
.card{
    background-color: #FFF;
    padding: 30px;
    margin-top: 20px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

footer{
    margin-top: 20px;
    border: 0;
    padding: 10px 3%;
    background-color: #FFAF45;
    font-size: 14px;
    line-height: 0.5;
}

a{
    text-decoration: none; 
    color: black; 
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
      float: right;
    }
  }